%h2= category.name

- if (category.parent)
  %strong= "Parent"
  %a{ href: "/category/" + category.parent.slug, title: "Go to category " + category.parent.name }= category.parent.name

- if (category.children.length > 0)
  %strong= "Subcategories"
  - each child in category.children
    %a{ href: "/category/" + child.slug, title: "Go to category " + child.name }= child.name

- if (category.facts.length > 0)
  %h3= "Facts"
  %ul
    - each fact in category.facts
      %li{ id: fact.key }
        = fact.content
        %a.fact_delete{ href: "#", title: "Delete this fact" }= "[del]"

- if (category.children.length > 0)
  - each child in category.children
    - if (child.facts.length > 0)
      %a{ href: "/category/" + child.slug, title: "Go to category " + child.name }
        %h4= child.name
      %ul
        - each fact in child.facts
          %li{ id: fact.key }= fact.content
      - if (child.children.length > 0)
        %a{ href: "/category/" + child.slug, title: "Go to category " + child.name }= "+ " + child.children.length + " subcategor(ies)"

