%h1= category.name

- if (category.children.length > 0)
  %h2= "Children"
  %ul
    - each child in category.children
      %li= child.name

- if (category.facts.length > 0)
  %h2= "Facts"
  %ul
    - each fact in category.facts
      %li{ id: fact.key }
        = fact.content
        %a.fact_delete{ href: "#", title: "Delete this fact" }= "[del]"

%form{ method: "post", action: "/fact/a15bc916-4204-56a2-be51-864957e01e0b" }
  %input{ type: 'hidden', name: '_method', value: 'delete' }
  %fieldset
    %ul
      %input{ type: 'submit', value: 'Create' }
